# ignore datasets
/data/*.csv
# ignore simulation data and archives
/simulation/archive/
/simulation/logs/
/simulation/results/
/simulation/visualisations/
# ignore environment files
**/.vscode/
**/.venv/
**/venv/
# ignore compiled python files
**/bin/
**/__pycache__/
wrongvenv/
# ignore test files
**/test_greedy.py
