# ignore datasets
/data/*.csv
/data/gh_knapsackProblemInstances/
# ignore simulation data and archives
/simulation/archive/
/simulation/logs/
/simulation/results/
/simulation/visualisations/
# ignore environment files
**/.vscode/
**/.venv/
**/venv/
# ignore compiled files
**/bin/
**/__pycache__/
